.headerImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  color: var(--whiteText);
  background-color: var(--lightBg);
  min-height: 40px;
  box-shadow:0px 0px 5px 0px black;
  position: sticky;
  top: 0;
}

.logoImage {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mobileMenuIcon {
  display:none;
}

.navIcons {
  padding: 12px;
  cursor: pointer;
}

.navIcons:hover {
  padding: 12px;
  background-color: #393D44;
  border-radius: 20px;
}

.profileImage {
  border-radius: 20px;
  margin-right: 10px;
}

.iconsBlock {
  margin-right: 10px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .mobileMenuIcon {
    display:block;
    cursor: pointer;
  }

  .logo {
    display:none;
  }

  .userName {
    display: none;
  }

  .backDropShadow {
    content: "";
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 0;
  }
}