.headerImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  color: var(--whiteText);
  background-color: var(--lightBg);
  min-height: 40px;
  box-shadow:0px 0px 5px 0px black;
}

.logoImage {
  display: flex;
  align-items: center;
}

.mobileMenuIcon {
  display:none;
}

.navIcons {
  margin-right: 25px;
}

.profileImage {
  border-radius: 20px;
  margin-right: 10px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .mobileMenuIcon {
    display:block;
  }

  .logo {
    display:none;
  }

  .userName {
    display: none;
  }
}